* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgba(153, 168, 165, 0.871);
}

#div1 {
     padding: 20px;
    width: 950px;
    gap: 10px;
    font-size: 90px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.div2-container{
    padding: 20px;
    width: 950px;
    gap: 10px;
    font-size: 90px;
    background-color: rgb(13, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div3-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}
#div3 {              
    padding: 20px;
    width: 50%;
    height: 100%;
    gap: 10px;
    font-size: 90px;
    background-color: rgb(195, 11, 112);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}


.div4-container {
    width: 50%;
    height: 100%;           
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#div4a,
#div4b {
    width: 100%;
    padding: 20px;
    font-size: 90px;
    background-color: rgb(6, 134, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

